USE [master]
GO
/****** Object:  Database [ev_battery_trading2]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE DATABASE [ev_battery_trading2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ev_battery_trading2', FILENAME = N'D:\New folder (2)\MSSQL16.SQLEXPRESS02\MSSQL\DATA\ev_battery_trading2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ev_battery_trading2_log', FILENAME = N'D:\New folder (2)\MSSQL16.SQLEXPRESS02\MSSQL\DATA\ev_battery_trading2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ev_battery_trading2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ev_battery_trading2]
GO
/****** Object:  User [sa1]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE USER [sa1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa1]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSellerAverageRating]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetSellerAverageRating](@seller_id INT)
RETURNS DECIMAL(3,2)
AS
BEGIN
    DECLARE @avg_rating DECIMAL(3,2);
    
    SELECT @avg_rating = AVG(CAST(seller_rating AS DECIMAL(3,2)))
    FROM reviews
    WHERE seller_id = @seller_id;
    
    RETURN ISNULL(@avg_rating, 0);
END
GO
/****** Object:  Table [dbo].[auctions]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auctions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[starting_price] [decimal](18, 2) NOT NULL,
	[current_price] [decimal](18, 2) NULL,
	[reserve_price] [decimal](18, 2) NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[winner_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovedById] [int] NULL,
	[ApprovalReason] [nvarchar](500) NULL,
	[BidIncrement] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bids]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bids](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[auction_id] [int] NOT NULL,
	[bidder_id] [int] NOT NULL,
	[bid_amount] [decimal](18, 2) NOT NULL,
	[bid_time] [datetime] NOT NULL,
	[is_winning] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract_confirmations]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_confirmations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[user_role] [varchar](20) NOT NULL,
	[action] [varchar](20) NOT NULL,
	[note] [nvarchar](500) NULL,
	[ip_address] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[buyer_id] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[contract_number] [varchar](50) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[buyer_confirmed] [bit] NULL,
	[buyer_confirmed_at] [datetime] NULL,
	[seller_confirmed] [bit] NULL,
	[seller_confirmed_at] [datetime] NULL,
	[admin_approved] [bit] NULL,
	[admin_approved_at] [datetime] NULL,
	[admin_approved_by] [int] NULL,
	[status] [varchar](20) NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_favorites_user_product] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[subject] [nvarchar](200) NULL,
	[content] [nvarchar](2000) NOT NULL,
	[is_read] [bit] NULL,
	[read_at] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_id] [int] NULL,
	[seller_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[order_date] [datetime] NULL,
	[payment_method] [nvarchar](50) NULL,
	[note] [nvarchar](500) NULL,
	[delivery_confirmed] [bit] NULL,
	[delivery_confirmed_at] [datetime] NULL,
	[delivery_notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[battery_health_percent] [int] NULL,
	[condition] [nvarchar](20) NOT NULL,
	[images] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[approval_status] [nvarchar](20) NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[battery_capacity] [decimal](5, 2) NULL,
	[mileage] [int] NULL,
	[year_of_manufacture] [int] NULL,
	[location] [nvarchar](200) NULL,
	[view_count] [int] NULL,
	[is_sold] [bit] NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[buyer_id] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[product_rating] [int] NOT NULL,
	[product_review] [nvarchar](1000) NULL,
	[seller_rating] [int] NOT NULL,
	[seller_review] [nvarchar](1000) NULL,
	[images] [nvarchar](max) NULL,
	[seller_response] [nvarchar](1000) NULL,
	[seller_response_at] [datetime] NULL,
	[is_verified] [bit] NULL,
	[is_helpful_count] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_reviews_order] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seller_ratings]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seller_ratings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[total_reviews] [int] NULL,
	[average_rating] [decimal](3, 2) NULL,
	[five_star_count] [int] NULL,
	[four_star_count] [int] NULL,
	[three_star_count] [int] NULL,
	[two_star_count] [int] NULL,
	[one_star_count] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[support_tickets]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support_tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_number] [varchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[category] [varchar](50) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[description] [nvarchar](2000) NOT NULL,
	[images] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[priority] [varchar](20) NULL,
	[assigned_to] [int] NULL,
	[admin_notes] [nvarchar](2000) NULL,
	[resolution] [nvarchar](2000) NULL,
	[resolved_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ticket_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_revenues]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_revenues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[order_amount] [decimal](18, 2) NOT NULL,
	[commission_rate] [decimal](5, 2) NOT NULL,
	[commission_amount] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_messages]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](1000) NOT NULL,
	[attachments] [nvarchar](max) NULL,
	[is_admin] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[transaction_id] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](max) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_verified] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[balance_after] [decimal](18, 2) NOT NULL,
	[description] [nvarchar](500) NULL,
	[reference_id] [int] NULL,
	[reference_type] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[balance] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_bids_auction]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_bids_auction] ON [dbo].[bids]
(
	[auction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bids_bidder]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_bids_bidder] ON [dbo].[bids]
(
	[bidder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_confirmations_contract]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_confirmations_contract] ON [dbo].[contract_confirmations]
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contracts_order]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_contracts_order] ON [dbo].[contracts]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_contracts_status]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_contracts_status] ON [dbo].[contracts]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_favorites_product]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_favorites_product] ON [dbo].[favorites]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_favorites_user]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_favorites_user] ON [dbo].[favorites]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_created]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_messages_created] ON [dbo].[messages]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_product]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_messages_product] ON [dbo].[messages]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_receiver]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_messages_receiver] ON [dbo].[messages]
(
	[receiver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_sender]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_messages_sender] ON [dbo].[messages]
(
	[sender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_category]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_products_category] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_seller]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_products_seller] ON [dbo].[products]
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_products_approval_status]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_approval_status] ON [dbo].[products]
(
	[approval_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_buyer]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_buyer] ON [dbo].[reviews]
(
	[buyer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_product]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_product] ON [dbo].[reviews]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_seller]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_seller] ON [dbo].[reviews]
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tickets_assigned]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_assigned] ON [dbo].[support_tickets]
(
	[assigned_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tickets_status]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_status] ON [dbo].[support_tickets]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tickets_user]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_tickets_user] ON [dbo].[support_tickets]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ticket_messages_ticket]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ticket_messages_ticket] ON [dbo].[ticket_messages]
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_wallet_transactions_type]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_wallet_transactions_type] ON [dbo].[wallet_transactions]
(
	[transaction_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_wallet_transactions_wallet]    Script Date: 11/17/2025 8:43:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_wallet_transactions_wallet] ON [dbo].[wallet_transactions]
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auctions] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[auctions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[auctions] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[auctions] ADD  DEFAULT ('pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[auctions] ADD  DEFAULT ((10000.00)) FOR [BidIncrement]
GO
ALTER TABLE [dbo].[bids] ADD  DEFAULT (getdate()) FOR [bid_time]
GO
ALTER TABLE [dbo].[bids] ADD  DEFAULT ((0)) FOR [is_winning]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[contract_confirmations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ((0)) FOR [buyer_confirmed]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ((0)) FOR [seller_confirmed]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ((0)) FOR [admin_approved]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[favorites] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_products_approval_status]  DEFAULT ('pending') FOR [approval_status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_sold]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ((1)) FOR [is_verified]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ((0)) FOR [is_helpful_count]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [total_reviews]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [average_rating]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [five_star_count]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [four_star_count]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [three_star_count]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [two_star_count]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT ((0)) FOR [one_star_count]
GO
ALTER TABLE [dbo].[seller_ratings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[support_tickets] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[support_tickets] ADD  DEFAULT ('normal') FOR [priority]
GO
ALTER TABLE [dbo].[support_tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[support_tickets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[system_revenues] ADD  DEFAULT ((0.25)) FOR [commission_rate]
GO
ALTER TABLE [dbo].[system_revenues] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ticket_messages] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[ticket_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('member') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [FK_auctions_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [FK_auctions_products]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [FK_auctions_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [FK_auctions_seller]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [FK_Auctions_Users_ApprovedById] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [FK_Auctions_Users_ApprovedById]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [FK_auctions_winner] FOREIGN KEY([winner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [FK_auctions_winner]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD  CONSTRAINT [FK_bids_auctions] FOREIGN KEY([auction_id])
REFERENCES [dbo].[auctions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bids] CHECK CONSTRAINT [FK_bids_auctions]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD  CONSTRAINT [FK_bids_bidder] FOREIGN KEY([bidder_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bids] CHECK CONSTRAINT [FK_bids_bidder]
GO
ALTER TABLE [dbo].[contract_confirmations]  WITH CHECK ADD  CONSTRAINT [FK_confirmations_contract] FOREIGN KEY([contract_id])
REFERENCES [dbo].[contracts] ([id])
GO
ALTER TABLE [dbo].[contract_confirmations] CHECK CONSTRAINT [FK_confirmations_contract]
GO
ALTER TABLE [dbo].[contract_confirmations]  WITH CHECK ADD  CONSTRAINT [FK_confirmations_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[contract_confirmations] CHECK CONSTRAINT [FK_confirmations_user]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FK_contracts_admin] FOREIGN KEY([admin_approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_contracts_admin]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FK_contracts_buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_contracts_buyer]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FK_contracts_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_contracts_order]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FK_contracts_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_contracts_seller]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK_favorites_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_favorites_product]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK_favorites_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_favorites_user]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_product]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_receiver]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_sender]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_order]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_product]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_buyer]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_seller]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_approved_by] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_approved_by]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_seller]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_buyer]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_order]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_product]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_seller]
GO
ALTER TABLE [dbo].[seller_ratings]  WITH CHECK ADD  CONSTRAINT [FK_seller_ratings_user] FOREIGN KEY([seller_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[seller_ratings] CHECK CONSTRAINT [FK_seller_ratings_user]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_admin] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_tickets_admin]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_tickets_order]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_tickets_product]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_tickets_user]
GO
ALTER TABLE [dbo].[system_revenues]  WITH CHECK ADD  CONSTRAINT [FK_system_revenues_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[system_revenues] CHECK CONSTRAINT [FK_system_revenues_orders]
GO
ALTER TABLE [dbo].[ticket_messages]  WITH CHECK ADD  CONSTRAINT [FK_ticket_messages_ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[support_tickets] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ticket_messages] CHECK CONSTRAINT [FK_ticket_messages_ticket]
GO
ALTER TABLE [dbo].[ticket_messages]  WITH CHECK ADD  CONSTRAINT [FK_ticket_messages_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ticket_messages] CHECK CONSTRAINT [FK_ticket_messages_user]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_order]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wallet_transactions_wallets] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wallet_transactions_wallets]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [FK_wallets_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [FK_wallets_users]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [CHK_auction_times] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [CHK_auction_times]
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD CHECK  (([starting_price]>(0)))
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='closed' OR [status]='active'))
GO
ALTER TABLE [dbo].[auctions]  WITH CHECK ADD  CONSTRAINT [CK_Auctions_BidIncrement_Positive] CHECK  (([BidIncrement]>=(1000.00)))
GO
ALTER TABLE [dbo].[auctions] CHECK CONSTRAINT [CK_Auctions_BidIncrement_Positive]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD CHECK  (([bid_amount]>(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_status] CHECK  (([status]='cancelled' OR [status]='delivered' OR [status]='shipped' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_status]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([battery_health_percent]>=(0) AND [battery_health_percent]<=(100)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([condition]='poor' OR [condition]='fair' OR [condition]='good' OR [condition]='new'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [CK_products_approval_status] CHECK  (([approval_status]='rejected' OR [approval_status]='approved' OR [approval_status]='pending'))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [CK_products_approval_status]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([product_rating]>=(1) AND [product_rating]<=(5)))
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([seller_rating]>=(1) AND [seller_rating]<=(5)))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([payment_method]='cash' OR [payment_method]='momo' OR [payment_method]='vnpay'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='success' OR [status]='pending'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='staff' OR [role]='buyer' OR [role]='seller' OR [role]='member' OR [role]='admin'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([transaction_type]='refund' OR [transaction_type]='payment' OR [transaction_type]='bid_release' OR [transaction_type]='bid_hold' OR [transaction_type]='withdraw' OR [transaction_type]='deposit'))
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD CHECK  (([balance]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_deposit_money]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_deposit_money]
    @user_id INT,
    @amount DECIMAL(18,2),
    @description NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @wallet_id INT;
        DECLARE @new_balance DECIMAL(18,2);
        
        -- Get or create wallet
        SELECT @wallet_id = id FROM wallets WHERE user_id = @user_id;
        
        IF @wallet_id IS NULL
        BEGIN
            INSERT INTO wallets (user_id, balance) VALUES (@user_id, 0);
            SET @wallet_id = SCOPE_IDENTITY();
        END
        
        -- Update balance
        UPDATE wallets 
        SET balance = balance + @amount,
            @new_balance = balance + @amount
        WHERE id = @wallet_id;
        
        -- Record transaction
        INSERT INTO wallet_transactions (wallet_id, transaction_type, amount, balance_after, description)
        VALUES (@wallet_id, 'deposit', @amount, @new_balance, @description);
        
        COMMIT TRANSACTION;
        SELECT @new_balance AS new_balance;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hold_bid_amount]    Script Date: 11/17/2025 8:43:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_hold_bid_amount]
    @user_id INT,
    @auction_id INT,
    @amount DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @wallet_id INT;
        DECLARE @current_balance DECIMAL(18,2);
        DECLARE @new_balance DECIMAL(18,2);
        
        -- Get wallet
        SELECT @wallet_id = id, @current_balance = balance 
        FROM wallets 
        WHERE user_id = @user_id;
        
        IF @wallet_id IS NULL
        BEGIN
            RAISERROR('Wallet not found', 16, 1);
            RETURN;
        END
        
        IF @current_balance < @amount
        BEGIN
            RAISERROR('Insufficient balance', 16, 1);
            RETURN;
        END
        
        -- Deduct balance
        UPDATE wallets 
        SET balance = balance - @amount,
            @new_balance = balance - @amount
        WHERE id = @wallet_id;
        
        -- Record transaction
        INSERT INTO wallet_transactions (wallet_id, transaction_type, amount, balance_after, description, reference_id, reference_type)
        VALUES (@wallet_id, 'bid_hold', @amount, @new_balance, N'Giữ tiền cho đấu giá', @auction_id, 'auction');
        
        COMMIT TRANSACTION;
        SELECT @new_balance AS new_balance;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
USE [master]
GO
